<boinc_gui_rpc_request>
  <project_attach>
    <project_url>{{ data.web_url }}</project_url>
      <authenticator>{{ data.weak_authenticator }}</authenticator>
  </project_attach>
</boinc_gui_rpc_request>
